@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    background-color: #42E2B8;
    text-align: center;
}

.wrapper {
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 345px;
    border-radius: 10%;
}

.datos__lista {
    list-style: none;
    padding: 15px;
    margin-bottom: 5px;
    border: none;
}

img {
    width: 70px;
    margin-top: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: none;
}

ul {
    margin-bottom: 0px;
    margin-top: 0px;
}

li {
    margin: 20px;
}

.nota {
    display: flex;
    font-size: 0.75rem;
    margin: 5px;
    padding: 5px;
    align-items: flex-start;
    border-radius: 10px;
    font-weight: bold;
}

a {
    font-size: 12px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    background: rgba(0, 0, 0, 0.6);
}

input {
        font-size: 16px;
        line-height: 40px;
        border: 1px solid #D6D6D6;
        border-radius: 10px;
        width: 250px;
        padding-left: 15px;
        font-weight: bold;
    }

    input::placeholder{
        color: #D6D6D6
    }

button {
    background-color: #2D82B7;
    color: white;
    margin-bottom: 40px;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    padding: 8px 28px;
}

button:hover {
    cursor: pointer;
}


label {
    font-size: 12px;
    letter-spacing: 0.75px;
}

@media all and (max-width: 850px) {
    .contenedor {
        max-width: 338px;
    }

@media all and (max-width: 500px) {
    .contenedor {
        max-width: 85%;
    }
}